.select{
    width: inherit;
    height: auto;

    & > select{
        width: 100%;
        padding: .8rem;
        outline: none;
        color: hsl(246, 5%, 42%);
        border: 1px solid hsl(246, 5%, 42%);
        border-radius: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}